<div class="container-fluid" style="margin: 0px; padding:0px;">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #0e001a">

            <div class="p-3">
                <div class="float-end">
                  <h5>{{"Call Us"|translate}}</h5>
                  
                  <h6>19966 <i class="fa fa-phone" aria-hidden="true"></i>
                  </h6> 
                </div>

            </div>

      <div class="container p-4 pb-0">
        <hr class="mb-4" />

        <section>
   
          <div class="row d-flex justify-content-between">
      
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-end">{{"Contact us"|translate}}</h5>
    
                <ul class="list-unstyled mb-0 text-end">
                  <li>
                        <img src="assets\footerPhotoYoutube.PNG" style="width:30px ; height:30px ; margin: 5px;">
                        <img src="assets\footerPhotoinstgram.PNG" style="width:30px ; height:30px ;margin: 5px;">
                        <img src="assets\footerPhotofacebook.PNG" style="width:30px ; height:30px;margin: 5px;">


                    </li>
                    <br>
                 
                  <li>
                      <h5 href="#!" class="text-white" style="text-decoration: none;">{{"Download the btech app"|translate}}</h5>
                  </li>
                  <li>
                    <img src="assets\App1.PNG" style="width:100px ; height:30px ; margin: 5px;">
                    <img src="assets\App2.PNG" style="width:100px ; height:30px ;margin: 5px;">
                    <img src="assets\App3.PNG" style="width:100px ; height:30px;margin: 5px;">


                </li>
                  
                </ul>
            </div>

           
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-end">{{"He has a request"|translate}}</h5>
    
                <ul class="list-unstyled mb-0 text-end">
                  <li>
                    <a href="#!" class="text-white" style="text-decoration: none;">{{"Deals of the day"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Mobile"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Brown Offers"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Brown"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;"> {{"Tvs"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Accessories"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Oppo"|translate}}</a>
                  </li>
                  <li>
                    <a href="#!" class="text-white" style="text-decoration: none;">{{"samsung"|translate}}</a>
                </li>
                <li>
                    <a href="#!" class="text-white" style="text-decoration: none;">{{"Apple"|translate}}</a>
                </li>
                </ul>
            </div>
            
           
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-end">{{"About Btech"|translate}}</h5>
    
                <ul class="list-unstyled mb-0 text-end">
                  <li>
                    <a href="#!" class="text-white" style="text-decoration: none;">{{"Work with us"|translate}}</a>
                  </li>
                </ul>  
            </div>

            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-end">{{"Guaranteed by BTech"|translate}}</h5>
    
                <ul class="list-unstyled mb-0 text-end">
                  <li>
                    <a href="#!" class="text-white" style="text-decoration: none;">{{"Allion"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Ariston"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Indesit"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Indesit"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"BabyLess"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Ariete"|translate}}</a>
                  </li>
                  <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Miele"|translate}}</a>
                  </li>
                </ul>

                <h5 class="text-uppercase text-end">{{"B.TECH services"|translate}}</h5>

                <ul class="list-unstyled mb-0 text-end">
                    <li>
                      <a href="#!" class="text-white" style="text-decoration: none;">{{"Minicash"|translate}}</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white" style="text-decoration: none;">{{"Loyalty"|translate}}</a>
                    </li>
                </ul>

              </div>
             

          </div>
        </section>
        <hr class="mb-4" />

    </div>
      <div class="text-end p-3" style="font-size:15px ;">
       <p>{{"B.TECH, all rights reserved"|translate}}  <span>{{"Terms & Conditions"|translate}}</span></p> 
        
      </div>
    </footer>

  </div>
  <!-- End of .container -->