<div class="card-group" style="padding-left: 50px;padding-right: 50px;">
    <div class="card" style="padding: 10px;border: none;">
        <img src="assets\Carusol nav Bar 1.PNG" class="card-img-top" alt="...">
          <p class="card-title text-center" style="font-size:smaller;">مينى كاش</p>
      </div>

      <div class="card" style="padding: 10px;border: none;">
        <img src="assets\Carusol nav Bar 2.PNG" class="card-img-top" alt="...">
        <p class="card-title text-center" style="font-size:smaller;">عروض البلاك فرايدى</p>
    </div>

    <div class="card" style="padding: 10px;border: none;">
        <img src="assets\Carusol nav Bar 3.PNG" class="card-img-top" alt="...">
        <p class="card-title text-center" style="font-size:smaller;">موبايل و تابلت</p>
    </div>

    <div class="card" style="padding: 10px;border: none;">
        <img src="assets\Carusol nav Bar 4.PNG" class="card-img-top" alt="...">
          <p class="card-title text-center" style="font-size:smaller;">تلفزيونات</p>          
      </div>

      <div class="card" style="padding: 10px;border: none;">
        <img src="assets\Carusol nav Bar 5.PNG" class="card-img-top" alt="...">
            <p class="card-title text-center" style="font-size:smaller;">أجهزه منزليه كبيره</p>
      </div>
      <div class="card" style="padding: 10px;border: none;">
        <img src="assets\Carusol nav Bar 6.PNG" class="card-img-top" alt="...">
            <p class="card-title text-center" style="font-size:smaller;">أجهزه منزليه صغيره</p>
      </div>
      <div class="card" style="padding: 10px;border: none;">
        <img src="assets\Carusol nav Bar 7.PNG" class="card-img-top" alt="...">
            <p class="card-title text-center" style="font-size:smaller;">لابتوب و كمبيوتر</p>
      </div>
      <div class="card" style="padding: 10px;border: none;">
        <img src="assets\Carusol nav Bar 8.PNG" class="card-img-top" alt="...">
            <p class="card-title text-center" style="font-size:smaller;">الكترونيات</p>
      </div>
      <div class="card" style="padding: 10px;border: none;">
        <img src="assets\Carusol nav Bar 9.PNG" class="card-img-top" alt="...">
            <p class="card-title text-center" style="font-size:smaller;">أدوات العنايه الشخصيه</p>
      </div>
      <div class="card" style="padding: 10px;border: none;">
        <img src="assets\Carusol nav Bar 10.PNG" class="card-img-top" alt="...">
            <p class="card-title text-center" style="font-size:smaller;">العاب</p>
      </div>
      </div>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="padding: 50px;cursor: pointer; ">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets\ImgAdsBody 1.PNG" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

      