<app-header></app-header>

<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{"Name"|translate}}</th>
            <th scope="col">{{"Quantity"|translate}}</th>
            <th scope="col">{{"Unit Price"|translate}}</th>
            <th scope="col">{{"Total price"|translate}}</th>
            <th scope="col">{{"Delete"|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let data of order.productList; let i = index">
            <th>{{i+1}}</th>
            <td> <div  *ngIf="currentCulture == 'en'">
              {{ data.nameEN }}</div>
               <div *ngIf="currentCulture == 'ar'">
             {{ data.nameAR }}</div></td>
                    <td><input class="m-1" type="number" [(ngModel)]="data.quantity"></td>
                    <td>{{data.totalPrice}}</td>
                    <td>{{data.totalPrice*data.quantity}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteOrder(data.id)">
                            {{"Delete"|translate}}
                        </button>
                    </td>
        </tbody>
      </table>
</div>

      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary"
         (click)="UpdateOrder(order)">{{"Save"|translate}}
        </button>
      </div>
      <br>
    <app-footer></app-footer>