<!-- قسم العروض -->
<div id="carouselExampleSlidesOnly" class="carousel slide" 
data-bs-ride="carousel" style="padding: 50px;cursor: pointer; ">
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img src="assets\ImgAds 1.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\ImgAds 2.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\ImgAds 3.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\ImgAds 4.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\ImgAds 5.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets\ImgAds 6.PNG" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  