<!-- قسم الاكثر مبيعا -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="cursor:pointer;">
    <h4 class="text-end p-5">الاكثر مبيعا</h4>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card">
              <img src="assets\phone1.PNG"  style="height: 200px;"  class="d-block w-100" alt="...">
              <div class="card-body">
                  <h5 class="card-title"></h5>
                  <br>
                  <p class="card-text">نوكيا 105 مزدوج الشريحة، 4 ميجا بايت، شبكة الجيل الثاني - أسود                </p>
                  <br>
                  <span >394 EGP</span>            
              </div>
          </div>        
        </div>
        <div class="carousel-item">
          <div class="card">
            <img src="assets\phone2.PNG"  style="height: 200px;"  class="d-block w-100" alt="...">
            <div class="card-body">
                  <p class="card-text">شاومي ريدمي 10C بشريحتين، 128 جيجا، 4 جيجا رام، شبكة 4G LTE - رمادى                </p>
                  <span style="color: red;">  وفر 250 جنيه (5%) <del>5,399 جنيه</del></span>
                  <br>
                  <span >5,149 EGP</span>
              </div>
          </div>     
       </div>
       <div class="carousel-item">
        <div class="card">
            <img src="assets\phone3.PNG"  style="height: 200px;"  class="d-block w-100" alt="...">
            <div class="card-body">
                <p class="card-text">شاومي ريدمي 9A بشريحتين، 32 جيجا، رام 2 جيجا، شبكة 4G LTE - رمادي                </p>
                <span style="color: red;">وفر 450 جنيه (12%)<del>3,899  جنيه</del></span>
                <br>
                <span >2,779 EGP</span>
            </div>
        </div>     
     </div>
        <div class="carousel-item">
           <div class="card">
              <img src="assets\phone4.PNG"  style="height: 230px;"  class="d-block w-100" alt="...">
              
              <div class="card-body">
                <br>
                  <p class="card-text">سماعة اذن لاسلكية شاومي مي ترو بيزيك 2 - اسود</p>
                  <br>
                  <span >315 EGP</span>
                  <br>
              </div>
           </div> 
          </div>
          <div class="carousel-item">
            <div class="card">
                <img src="assets\phone5.PNG"  style="height: 230px;"  class="d-block w-100" alt="...">
                <div class="card-body">
                    <br>
                    <p class="card-text">سوار ذكي شاومي مي باند 6، أسود - BHR4951GL</p>
                    <br>
                    <span >999جنيه EGP</span>
                </div>
            </div>     
         </div>
          <div class="carousel-item">
              <div class="card">
                 <img src="assets\phone6.PNG"  style="height: 200px;"  class="d-block w-100" alt="...">
                 <div class="card-body">
                     <p class="card-text"> ريلمي C21 بشريحتين، 64 جيجا، رام 4 جيجا، شبكة 4G LTE - ازرق ( بدون ضمان )
                    </p>
                     <span style="color: red;">وفر 300 جنيه (7%) <del>4,599 EGP</del></span>
                     <br>
                     <span >4,299 EGP</span>
                 </div>
              </div> 
             </div>
             <div class="carousel-item">
              <div class="card">
                 <img src="assets\phone7.PNG"  style="height: 200px;"  class="d-block w-100" alt="...">
                 <div class="card-body">
                  <br>
                     <p class="card-text">سامسونج جالكسي A23 بشريحتين، 128 جيجا، رام 4 جيجا، شبكة  GLTE - اسود
                    </p>
                     <span style="color: red;">جنيه وفر 555 جنيه (9%)</span>
                     <br>
                     <span >5,790 EGP</span>
  
                 </div>
              </div> 
             </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>